{% load static %}

<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet"  href="{% static 'profile.css' %}">
    
    <title>GameCrush - Perfil</title>
  </head>
  <body class="bg-secondary">

      {% include 'header.html' %}

      <main role="main">
        <div class="container">
          <div class="col-md-12 bg-info">
            <div class="container marketing text-white" style="padding-top:4em;padding-bottom:4em;">
                <div class="row featurette">
                    <div class="col-md-12">
                      <style>
                        .center{
                          display: block;
                          margin-left: auto;
                          margin-right: auto;
                          width: 50%;
                          margin-bottom:3em;
                          border: 1em solid #eee;
                          border-radius: 20px;
                        }
                      </style>
                      <div class="row">
                        <center>
                          {% if user_id == 1 or user_id == 4 or user_id == 7 or user_id == 10 or user_id == 13 or user_id == 16 %}
                            <img class="center"
                              src="https://images.pexels.com/photos/220453/pexels-photo-220453.jpeg?cs=srgb&dl=adult-beard-boy-casual-220453.jpg&fm=jpg"/>
                          {% elif user_id == 2 or user_id == 5 or user_id == 11 or user_id == 14 or user_id == 17 %}
                            <img class="center"
                              src="https://images.pexels.com/photos/1222271/pexels-photo-1222271.jpeg?cs=srgb&dl=boy-casual-eyes-1222271.jpg&fm=jpg"/>
                          {% else %}
                            <img class="center"
                              src="https://images.pexels.com/photos/774909/pexels-photo-774909.jpeg?cs=srgb&dl=women-s-white-and-black-button-up-collared-shirt-774909.jpg&fm=jpg"/>
                          {% endif %}
                        </center>
                      </div>
                      <div class="row">
                        <div class="col-md-6">
                          <h4 class="featurette-heading"><strong>Nome</strong></h4>
                          <p class="lead"> {{name}} </p>
                        </div>
                        <div class="col-md-6">
                          <h4 class="featurette-heading"><strong>Idade</strong></h4>
                          <p class="lead"> {{age}} </p>
                        </div>
                      </div>
                      <hr>
                      </br>
                      <h4 class="featurette-heading"><strong>Sobre</strong></h4>
                      <hr>
                      <p class="lead"> {{describe}} </p>
                    </div>
                  </div>
            </div>
          </div>
        </div>
      </main>

    {% include 'footer.html' %}

    <!-- Optional JavaScript -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script>window.jQuery || document.write('<script src="/docs/4.3/assets/js/vendor/jquery-slim.min.js"><\/script>')</script><script src="/docs/4.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-xrRywqdh3PHs8keKZN+8zzc5TX0GRTLCcmivcbNJWm2rs5C8PRhcEn3czEjhAO9o" crossorigin="anonymous"></script>

    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>
</html>